openapi: 3.1.0
info:
  title: Warpee Knowledge API
  version: "1.0.0"
  description: >
    Pay-per-call knowledge retrieval over the GM Farcaster Network archive —
    hundreds of podcast episodes, transcripts, and metadata. A single POST
    /v1/query runs an agent that can search transcripts semantically, summarize
    episodes, surface featured casts, find mentions of people or projects, and
    look up episode metadata — returning a grounded answer with timestamped
    citations (several skills may fire per query). Account-less: the on-chain
    payment is the authorization, $0.005 USDC per call. A single 402 advertises
    two payment rails — x402 (USDC on Base) and MPP (USDC on Tempo) — and the
    caller pays with whichever it supports.
  x-x402:
    scheme: exact
    asset: USDC
    network: eip155:8453        # Base mainnet (testnet: eip155:84532)
    price: "$0.005"
  x-mpp:
    protocol: mpp               # Machine Payments Protocol (https://mpp.dev)
    method: tempo
    asset: USDC
    chainId: 4217               # Tempo mainnet (testnet Moderato: 42431)
    price: "$0.005"
servers:
  - url: https://api.gmfarcaster.com
paths:
  /v1/query:
    post:
      summary: Ask a question over the GM Farcaster library
      description: >
        Returns a source-grounded answer with citations. Requires payment: an
        unpaid request returns 402 advertising both rails — an x402 challenge in
        PAYMENT-REQUIRED and an MPP challenge in WWW-Authenticate: Payment. Retry
        with a signed payment header (x402) or Authorization: Payment (MPP) to
        receive 200.
      x-payment-info:
        scheme: exact
        asset: USDC
        network: eip155:8453
        price: "$0.005"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QueryRequest"
      responses:
        "200":
          description: Answer with citations.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QueryResponse"
        "402":
          description: >
            Payment required. The response advertises both rails; pay with either.
          headers:
            PAYMENT-REQUIRED:
              schema: { type: string }
              description: Base64-encoded x402 PaymentRequired object (Base USDC).
            WWW-Authenticate:
              schema: { type: string }
              description: 'MPP challenge: `Payment ...` (Tempo USDC).'
        "400":
          description: Missing/empty query, or query too long.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "500":
          description: Internal error (generic; no internal detail returned).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
  /v1/healthz:
    get:
      summary: Health check (free, no payment)
      responses:
        "200":
          description: Service healthy.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  payments_enabled: { type: boolean }
components:
  schemas:
    QueryRequest:
      type: object
      required: [query]
      properties:
        query:
          type: string
          maxLength: 2000
          description: The question to answer over the GM Farcaster library.
          examples:
            - "What have GM Farcaster hosts said about prediction markets?"
    QueryResponse:
      type: object
      required: [answer, citations, usage]
      properties:
        answer:
          type: string
          description: Source-grounded answer. States when the library lacks coverage.
        citations:
          type: array
          items: { $ref: "#/components/schemas/Citation" }
          description: Episodes the answer draws on. May be empty for static-fact answers.
        usage:
          type: object
          properties:
            tool_calls:
              type: integer
              description: >
                Number of retrieval/info skills the agent invoked to answer.
                Several may fire per query (e.g. transcript search + featured casts).
    Citation:
      type: object
      properties:
        episode: { type: string, examples: ["ep343"] }
        title: { type: string }
        display_name: { type: string }
        url: { type: string, format: uri, description: "Timestamped link to the source." }
        timestamp_seconds: { type: [integer, "null"] }
    Error:
      type: object
      properties:
        error: { type: string }
