{
  "info": {
    "contact": {
      "email": "info@gmfarcaster.com",
      "name": "GM Farcaster",
      "url": "https://www.gmfarcaster.com"
    },
    "description": "GM Farcaster is a media network covering Farcaster news, interviews, and the broader onchain-social ecosystem. This API gives agents grounded, citation-backed answers from hundreds of episodes, based on real quotes with timestamped links back to the source. Pay per call via x402 (Base) or MPP (Tempo), whichever your agent speaks.",
    "title": "Warpee Knowledge API",
    "version": "1.0.0",
    "x-guidance": "Call POST /v1/query with {\"query\": \"<your question>\"}. Pay via x402 (USDC on Base) or MPP (USDC on Tempo) — either rail works on the same 402 challenge. Read the answer field for a grounded response and citations[] for sources. Do not retry a slow call with a fresh payment — retry the exact same signed payment instead, which is served from cache at no extra charge.",
    "x-x402": {
      "asset": "USDC",
      "network": "eip155:8453",
      "price": "$0.005",
      "scheme": "exact"
    }
  },
  "openapi": "3.1.0",
  "paths": {
    "/v1/healthz": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "payments_enabled": {
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Service healthy."
          }
        },
        "security": [],
        "summary": "Health check (free, no payment)"
      }
    },
    "/v1/query": {
      "post": {
        "description": "Returns a source-grounded answer with citations. Requires payment: an unpaid request returns 402 advertising both rails — an x402 challenge in PAYMENT-REQUIRED and an MPP challenge in WWW-Authenticate: Payment. Retry with a signed payment header (x402) or Authorization: Payment (MPP) to receive 200. Answers are live-generated and typically take ~30s (up to ~3 minutes), so use a client read timeout of at least 180s. A literal retry of the same signed payment is safe — the server recognizes it and replays the original answer rather than charging twice — but a client that gives up and constructs a NEW payment for the same question will be charged again; avoid that rather than relying on retry logic.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "query": {
                    "description": "A natural-language question about Farcaster topics, people, or events discussed on GM Farcaster.",
                    "maxLength": 2000,
                    "type": "string"
                  }
                },
                "required": [
                  "query"
                ],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "answer": {
                      "type": "string"
                    },
                    "citations": {
                      "items": {
                        "properties": {
                          "display_name": {
                            "type": "string"
                          },
                          "episode": {
                            "type": "string"
                          },
                          "timestamp_seconds": {
                            "type": [
                              "integer",
                              "null"
                            ]
                          },
                          "title": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "usage": {
                      "properties": {
                        "tool_calls": {
                          "type": "integer"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "required": [
                    "answer",
                    "citations"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Answer with citations."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Missing/empty query, or query too long."
          },
          "402": {
            "description": "Payment required. The response advertises both rails; pay with either.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64-encoded x402 PaymentRequired object (Base USDC).",
                "schema": {
                  "type": "string"
                }
              },
              "WWW-Authenticate": {
                "description": "MPP challenge: `Payment ...` (Tempo USDC).",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Internal error (generic; no internal detail returned)."
          }
        },
        "summary": "Ask a question over the GM Farcaster library",
        "x-payment-info": {
          "amount": "5000",
          "currency": "0x20C000000000000000000000b9537d11c60E8b50",
          "description": "Ask a natural-language question and get a cited answer from the GM Farcaster library — hundreds of episodes of Farcaster news, interviews, and analysis. Returns a grounded answer plus the source episodes with timestamped links.",
          "intent": "charge",
          "method": "tempo",
          "offers": [
            {
              "amount": "5000",
              "currency": "0x20C000000000000000000000b9537d11c60E8b50",
              "description": "Ask a natural-language question and get a cited answer from the GM Farcaster library — hundreds of episodes of Farcaster news, interviews, and analysis. Returns a grounded answer plus the source episodes with timestamped links.",
              "intent": "charge",
              "method": "tempo"
            }
          ]
        }
      }
    }
  },
  "servers": [
    {
      "url": "https://api.gmfarcaster.com"
    }
  ],
  "x-service-info": {
    "categories": [
      "knowledge",
      "farcaster",
      "search"
    ],
    "docs": {
      "apiReference": "https://github.com/atenger/gmfarcaster-api/blob/main/warpee/openapi.json",
      "homepage": "https://www.gmfarcaster.com/apis"
    }
  },
  "x-generated": {
    "note": "Generated by scripts/sync-openapi.mjs from the live service — do not edit directly. Edit the service (gmfc101/core/openapi_doc.py for warpee, gm-farcaster/apps/api/src/lib/discovery.ts for shoutout) and re-run `npm run sync:openapi`.",
    "source": "https://api.gmfarcaster.com/v1/openapi.json",
    "syncedAt": "2026-09-16T22:44:44.609Z"
  }
}
